{% extends "index.html" %}
{% load static %}
{% block content %}
    <!-- Bootstrap Modal for Like Button Alert -->
    <div class="modal fade" id="loginAlertModal" tabindex="-1" aria-labelledby="loginAlertModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginAlertModalLabel">Account Required</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>You must be logged in to like a post. Please log in or create an account.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'login' %}'">
                        Login
                    </button>
                    <button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'register' %}'">
                        Register
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Recent Posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="m-5">
                    <div class="card" style="background-color: #ADBC9F">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% if post.author.profile.profile_pic %}
                                    <img src="{{ post.author.profile.profile_pic.url }}"
                                         alt="{{ post.author.username }}"
                                         style="width: 20px; height: 20px; border-radius: 50%; vertical-align: middle;">
                                {% else %}
                                    <img src="{% static 'images/default_profile_picture.png' %}"
                                         alt="Default profile picture"
                                         style="width: 20px; height: 20px; border-radius: 50%; vertical-align: middle;">
                                {% endif %}
                                {{ post.author.username }} on {{ post.created_at|date:"N j, Y, H:i" }}
                            </h6>
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatewords:20 }}</p>

                            <!-- Update data-target in the image tag -->
                            {% if post.image %}
                                <div class="post-image pb-3">
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}"
                                         style="max-width:50%; cursor: pointer;"
                                         data-bs-toggle="modal" data-bs-target="#imageModal{{ post.id }}">
                                </div>
                                <!-- Update the modal's ID -->
                                <div class="modal fade" id="imageModal{{ post.id }}" tabindex="-1" role="dialog"
                                     aria-labelledby="imageModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content" style="background: transparent; border: none;">
                                            <div style="font-size: 2rem; text-align: left;">
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div>
                                                <img src="{{ post.image.url }}" alt="{{ post.title }}"
                                                     style="width: 100%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="d-flex justify-content-between">
                                <div style="display: flex; align-items: center;">
                                    <a style="font-size: 1.3rem; text-decoration: none; color: black"
                                       class="like-button"
                                       data-post-id="{{ post.id }}">
                                        {% if user in post.likes.all %}
                                            <i class="fas fa-heart" style="color: red;"></i> <!-- Liked -->
                                        {% else %}
                                            <i class="far fa-heart"></i> <!-- Not liked -->
                                        {% endif %}
                                        <span class="like-count">{{ post.likes.count }}</span>
                                    </a>
                                    <!-- Comment button -->
                                    <a href="{% url 'post_detail' post.id %}" class="btn btn-info btn-sm"
                                       style="margin-left: 1rem;">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                        <span style="margin-left: 0.6rem">{{ post.comments.count }}</span>
                                    </a>
                                </div>
                                <div>
                                    {% if user.is_authenticated and post.author == user %}
                                        <form action="{% url 'post-delete' post.id %}" method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
                                                    data-bs-target="#deleteConfirmationModal{{ post.id }}">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                        <!-- Delete Confirmation Modal  -->
                                        <div class="modal fade" id="deleteConfirmationModal{{ post.id }}" tabindex="-1"
                                             role="dialog" aria-labelledby="deleteConfirmationModalLabel{{ post.id }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="deleteConfirmationModalLabel{{ post.id }}">
                                                            Confirm Delete</h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                                aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        Are you sure you want to delete this post?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancel
                                                        </button>
                                                        <!-- Inline form for delete confirmation, ensure action URL is correct -->
                                                        <form action="{% url 'post-delete' post.id %}" method="post"
                                                              style="display: inline;">
                                                            {% csrf_token %}
                                                            <button type="submit" class="btn btn-danger">Delete</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <a href="{% url 'edit-post' post.id %}"
                                           class="btn btn-secondary btn-sm">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            {% if post.updated_at %}
                                Last updated on {{ post.updated_at|date:"N j, Y, H:i" }}
                            {% else %}
                                Created on {{ post.created_at|date:"N j, Y, H:i" }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center">
                <img src="{% static 'images/bored_cat.gif' %}" alt="Bored Cat" class="img-fluid">
                <p class="mt-3">Looks like there are no posts yet. Be the first to post something!</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
