{% extends "index.html" %}
{% load static %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Recent Posts</h1>
        {% if posts %}
            {% for post in posts %}
                <div class="m-5">
                    <div class="card" style="background-color: #ADBC9F">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-muted">
                                {% if post.author.profile.profile_pic %}
                                    <img src="{{ post.author.profile.profile_pic.url }}"
                                         alt="{{ post.author.username }}"
                                         style="width: 20px; height: 20px; border-radius: 50%; vertical-align: middle;">
                                {% else %}
                                    <img src="{% static 'images/default_profile_picture.png' %}"
                                         alt="Default profile picture"
                                         style="width: 20px; height: 20px; border-radius: 50%; vertical-align: middle;">
                                {% endif %}
                                {{ post.author.username }} on {{ post.created_at|date:"N j, Y" }}
                            </h6>
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.content|truncatewords:20 }}</p>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <a href="{% url 'post_detail' post.id %}" class="btn btn-info btn-sm">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                    </a>
                                    <span class="badge bg-secondary">{{ post.comments.count }}</span>
                                </div>
                                <div>
                                    {% if user.is_authenticated and post.author == user %}
                                        <form action="{% url 'post-delete' post.id %}" method="post"
                                              style="display: inline;">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger btn-sm">
                                                <i class="fa fa-trash" aria-hidden="true"></i>
                                            </button>
                                        </form>
                                        <a href="{% url 'edit-post' post.id %}"
                                           class="btn btn-secondary btn-sm">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="card-footer text-muted">
                            {% if post.updated_at %}
                                Last updated on {{ post.updated_at|date:"N j, Y" }}
                            {% else %}
                                Created on {{ post.created_at|date:"N j, Y" }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="text-center">
                <img src="{% static 'images/bored_cat.gif' %}" alt="Bored Cat" class="img-fluid">
                <p class="mt-3">Looks like there are no posts yet. Be the first to post something!</p>
            </div>
        {% endif %}
    </div>
{% endblock %}
