<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minigarm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/fav.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


</head>
<body style="background-color: #436850">
<!-- Bootstrap Navbar -->
{% include "navbar.html" %}
{% block content %}{% endblock %}
<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<style>
    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /* For the scrollbar track */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .navbar {
        background-color: #12372A;
    }


</style>
<script>
    function adjustNavbarForScrollbar() {
        // Calculate the difference between the viewport's width and the window's width.
        const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;

        // If there is a vertical scrollbar, then there's no need to adjust the navbar.
        if (scrollbarWidth > 0) {
            document.body.style.paddingRight = '';
        } else {
            // Add padding to the body equal to the scrollbar's width.
            document.body.style.paddingRight = scrollbarWidth + 'px';
        }
    }

    // Run the function on load and on resize.
    window.onload = adjustNavbarForScrollbar;
    window.onresize = adjustNavbarForScrollbar;
</script>
</body>
</html>
