<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minigarm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/fav.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


</head>
<body>

<!-- Bootstrap Navbar -->
{% include "navbar.html" %}
{% block content %}{% endblock %}

<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>

    body {
        background-color: #436850
    }

    /* For the scrollbar track */
    ::-webkit-scrollbar {
        width: 0;
    }

    .navbar {
        background-color: #12372A;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-element {
        padding-left: 17%;
        font-size: 1.2rem;
    }

    .comment-field {
        resize: none;
        height: 150px;
    }

    .modal-content {
        margin-top: 10vw;
        background-color: #ADBC9F;
    }

    .non-selectable {
        pointer-events: none;
        color: black;
    }


</style>
<script>
    // function that adjusts the padding-right of the body to account for the scrollbar width
    function adjustNavbarForScrollbar() {
        const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;

        if (scrollbarWidth > 0) {
            document.body.style.paddingRight = '';
        } else {
            document.body.style.paddingRight = scrollbarWidth + 'px';
        }
    }

    // function that debounces the execution of a function
    function debounce(func, wait) {
        let timeout;
        return function (...args) {
            const context = this;
            clearTimeout(timeout);
            timeout = setTimeout(() => func.apply(context, args), wait);
        };
    }

    // Implemented an AJAX call using jQuery to allow users to like a blog post without refreshing the page, and to prompt
    // unauthenticated users to log in if they attempt to like a post.

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    // a function that handles the like button click event and sends an AJAX request to the server
    function handleLikeClick(e) {
        e.preventDefault();
        e.stopPropagation();
        const postId = $(this).data('post-id');
        const likeCount = $(this).find('.like-count');
        const likeIcon = $(this).find('i');

        const isAuthenticated = {{ request.user.is_authenticated|yesno:"true,false" }};
        if (!isAuthenticated) {
            $('#loginAlertModal').modal('show');
            return; // Prevent the AJAX call if not authenticated
        }

        $.ajax({
            url: '{% url "like_post" 0 %}'.replace('0', postId),
            method: 'POST',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                post_id: postId,
            },
            success: function (response) {
                if (response.liked) {
                    likeIcon.removeClass('far').addClass('fas').css('color', 'red');
                } else {
                    likeIcon.removeClass('fas').addClass('far').css('color', '');
                }
                likeCount.text(response.like_count);
            },
            error: function (response) {
                if (response.status === 403) {
                    $('#loginAlertModal').modal('show');
                }
            }
        });
    }


    // Debounce the like button click event to prevent spam clicking
    const debouncedLikeClick = debounce(handleLikeClick, 250);

    // Attached the debounced click event to the like button
    $(document).ready(function () {
        $('.like-button').off('click').on('click', function (event) {
            handleLikeClick.call(this, event);
        });
    });


    // function that adjusts the input field height to match the content
    $(document).ready(function () {
        $('.form-control').on('input', function () {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    });

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();

        $('.custom-delete-btn').on('click', function (e) {
            e.preventDefault();
            const form = this.closest('form');
            if (confirm('Are you sure you want to delete this post?')) {
                form.submit();
            }
        });
    });

    document.addEventListener("DOMContentLoaded", function () {
        var fileInputs = document.querySelectorAll('.form-control-file');

        fileInputs.forEach(function (fileInput) {
            var fileLabel = fileInput.nextElementSibling; // Assumes the label immediately follows the input
            fileInput.addEventListener('change', function () {
                var fileName = fileInput.value.split('\\').pop();
                fileLabel.textContent = fileName ? fileName : "Choose file";
            });
        });
    });

</script>
</body>
</html>
