<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Minigarm</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="/static/images/fav.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">


</head>
<body style="background-color: #436850">
<!-- Bootstrap Navbar -->
{% include "navbar.html" %}
{% block content %}{% endblock %}
<!-- Bootstrap JS and Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<style>
    html {
        overflow-y: scroll;
        overflow-x: hidden;
    }

    /* For the scrollbar track */
    ::-webkit-scrollbar {
        width: 0;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .navbar {
        background-color: #12372A;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #nav-element {
        padding-left: 17%;
        font-size: 1.2rem;
    }

</style>
<script>
    function adjustNavbarForScrollbar() {
        // Calculate the difference between the viewport's width and the window's width.
        const scrollbarWidth = window.innerWidth - document.documentElement.clientWidth;

        // If there is a vertical scrollbar, then there's no need to adjust the navbar.
        if (scrollbarWidth > 0) {
            document.body.style.paddingRight = '';
        } else {
            // Add padding to the body equal to the scrollbar's width.
            document.body.style.paddingRight = scrollbarWidth + 'px';
        }
    }

    $(document).ready(function () {
        $('.like-button').click(function (e) {
            e.preventDefault();
            var postId = $(this).data('post-id');
            var likeCount = $(this).find('.like-count');
            var likeIcon = $(this).find('i');

            $.ajax({
                url: '{% url "like_post" 0 %}'.replace('0', postId),
                method: 'POST',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    post_id: postId,
                },
                success: function (response) {
                    if (response.liked) {
                        likeIcon.removeClass('far').addClass('fas').css('color', 'red');
                    } else {
                        likeIcon.removeClass('fas').addClass('far').css('color', '');
                    }
                    likeCount.text(response.like_count);
                },
                error: function (response) {
                    // Handle error, e.g., unauthenticated user
                    if (response.status === 403) {
                        // Show popup for unauthenticated user
                        alert('Please register or log in to like posts.');
                    }
                }
            });
        });
    });

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    $.ajaxSetup({
        beforeSend: function (xhr, settings) {
            if (!this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });

    $('.like-button').click(function (e) {
        e.preventDefault();
        var postId = $(this).data('post-id');
        var likeCount = $(this).find('.like-count');
        var likeIcon = $(this).find('i');

        $.ajax({
            url: '{% url "like_post" 0 %}'.replace('0', postId),
            method: 'POST',
            data: {
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                post_id: postId,
            },
            success: function (response) {
                if (response.liked) {
                    likeIcon.removeClass('far').addClass('fas').css('color', 'red');
                } else {
                    likeIcon.removeClass('fas').addClass('far').css('color', '');
                }
                likeCount.text(response.like_count);
            },
            error: function (response) {
                if (response.status === 403 || response.status === 302) {
                    // Assuming you have a Bootstrap modal with id #loginModal
                    $('#loginModal').modal('show');
                }
            }
        });
    });


</script>
</body>
</html>
