{% load static %}
<style>
    .icon-circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        font-size: 16px;
        color: #fff;
        line-height: 40px;
        text-align: center;
    }

    .badge {
        position: absolute;
        top: 0;
        right: -10px;
    }

    .dropdown-item {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .dropdown-item .icon-circle {
        display: flex;
        align-items: center;
        justify-content: center;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-lg container-fluid">
        <a class="navbar-brand d-flex align-items-center justify-content-center" href="{% url 'home' %}"
           style="width: 100px; height: 100px;">
            <img src="/static/images/logo.png" alt="" width="200" height="200" class="d-inline-block align-text-top">
            <span style="font-size: 2rem">Minigram</span>
        </a>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav mx-auto" id="nav-element">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'create-post' %}">Create Post</a>
                    </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav align-right ms-auto">
                {% if user.is_authenticated %}
                    <ul class="navbar-nav align-items-center">
                        <li class="nav-item dropdown" style="margin-right: 20px;">
                            {% if request.path != "/notifications/" %}
                                <a class="nav-link" href="#" id="notificationDropdown" role="button"
                                   data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-bell"></i>
                                    {% if unread_count > 0 %}
                                        <span class="badge bg-danger rounded-pill">{{ unread_count }}</span>
                                    {% endif %}
                                </a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="notificationDropdown">
                                    {% if notifications.count > 0 %}
                                        {% for notification in notifications %}
                                            <a class="dropdown-item d-flex align-items-center"
                                               href="{% url 'mark_notification_read' notification.id %}">
                                                <div class="me-3">
                                                    {% if notification.sender.profile.profile_pic %}
                                                        <img src="{{ notification.sender.profile.profile_pic.url }}"
                                                             class="rounded-circle" alt="Profile Picture"
                                                             style="width: 50px; height: 50px;">
                                                    {% else %}
                                                        <div class="icon-circle bg-primary">
                                                            <i class="fas fa-user text-white"></i>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                                <div>
                                                    {{ notification.sender.username }} commented on your post.
                                                    <div class="small text-gray-500">{{ notification.created_at|date:"N j, Y, H:i" }}</div>
                                                </div>
                                            </a>
                                        {% empty %}
                                            <span class="dropdown-item">No new notifications</span>
                                        {% endfor %}
                                    {% else %}
                                        <li><span class="dropdown-item">No new notifications</span></li>
                                    {% endif %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item text-center small text-gray-500"
                                           href="{% url 'notifications_all' %}">View all notifications</a></li>
                                </ul>
                                </li>
                            {% endif %}
                    </ul>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {% if user.profile.profile_pic %}
                                <img src="{{ user.profile.profile_pic.url }}" alt="Profile Image"
                                     style="width: 25px; height: 25px; border-radius: 20%; margin-right: 10px;">
                            {% else %}
                                <img src="{% static '/images/default_profile_picture.png' %}"
                                     alt="Default Profile Image"
                                     style="width: 20px; height: 20px; border-radius: 50%; margin-right: 5px;">
                            {% endif %}
                            <span class="text-warning">{{ user.username }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                            <li><a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
