{% extends 'index.html' %}
{% block content %}
    <div class="body-create-post">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="form-create-post">
                        <h2 class="text-center">Edit Post</h2>
                        <form method="post" class="m-3" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group mt-2">
                                <input type="text" class="form-control" id="title" name="title"
                                       value="{{ form.title.value|default_if_none:'' }}" placeholder="Enter title"
                                       required>
                            </div>
                            <div class="form-group mt-2">
                                <textarea class="form-control" id="content" name="content" rows="5"
                                          required>{{ form.content.value|default_if_none:'' }}</textarea>
                            </div>
                            <div class="form-group mt-2">
                                {% if form.image.value %}
                                    <div class="mb-2">
                                        <div class="pb-2">
                                            <input type="checkbox" name="remove_image" id="remove_image">
                                            <label for="remove_image">Remove image</label>
                                        </div>
                                        <img src="{{ form.image.value.url }}" alt="Current image"
                                             style="max-width: 200px; max-height: 200px;">
                                    </div>
                                {% endif %}
                                <input type="file" class="form-control" id="image" name="image">
                            </div>
                            <div class="text-center mt-2">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
