{% extends "index.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8 mx-auto" style="background-color: #FBFBBB; border-radius: 5px; padding-bottom: 1%">
                <!-- Post Title -->
                <h2 class="mb-3 text-center" style="font-weight: bold; color: #12372A;">{{ post.title }}</h2>
                <!-- Divider -->
                <hr class="my-4">
                <!-- Author with Styling -->
                <p class="font-italic text-muted">
                    {% if post.author.profile.profile_pic %}
                        <a style="text-decoration: none; color: black"
                           href="{% url 'user_public_profile' username=post.author.username %}">
                            <img class="rounded-circle" src="{{ post.author.profile.profile_pic.url }}"
                                 alt="{{ post.author.username }}">
                            {{ post.author.username }}
                        </a>
                    {% else %}
                        <a href="{% url 'user_public_profile' username=post.author.username %}">
                            <img class="rounded-circle" src="{% static 'images/default_profile_picture.png' %}"
                                 alt="Default profile picture">
                            {{ post.author.username }}
                        </a>
                    {% endif %}
                    on {{ post.created_at|date:"N j, Y, H:i" }}
                </p>

                <p class="mb-4 text-justify" style="font-size: 1.1em; line-height: 1.6;">
                    {{ post.content }}
                </p>

                {% if post.image %}
                    <div class="post-image pb-3">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}"
                             style="max-width:50%; cursor: pointer;"
                             data-bs-toggle="modal" data-bs-target="#imageModal{{ post.id }}">
                    </div>

                    <div class="modal fade" id="imageModal{{ post.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="imageModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content" style="background: transparent; border: none;">
                                <div style="font-size: 2rem; text-align: right;">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>
                                <div>
                                    <img src="{{ post.image.url }}" alt="{{ post.title }}"
                                         style="width: 100%;">
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                <a style="font-size: 1.3rem; text-decoration: none; color: black;" class="like-button"
                   data-post-id="{{ post.id }}">
                    {% if user in post.likes.all %}
                        <i class="fas fa-heart" style="color: red;"></i> <!-- Liked -->
                    {% else %}
                        <i class="far fa-heart"></i> <!-- Not liked -->
                    {% endif %}
                    <span class="like-count">{{ post.likes.count }}</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Display existing comments -->
    <div class="container mt-5">
        <div class="row">
            <div class="text-center">
                <h3 class="pb-2">Leave a Comment</h3>
            </div>
            <div class="col-md-8 mx-auto">

                <!-- Comment Form -->
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'comment-create' post_id=post.id %}" class="mb-3"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        {% for field in comment_form %}
                            {% if field|widget_type == 'FileInput' %}
                                <div class="custom-file mb-3">
                                    {{ field|add_class:"custom-file-input" }}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% else %}
                                <div class="form-group mb-3">
                                    {{ field|add_class:"form-control" }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-info mt-2">
                                <i class="fas fa-comment-dots"></i> Post Comment
                            </button>
                        </div>
                    </form>
                {% else %}
                    <p class="text-center" style="background-color: #FBFBBB; border-radius: 5px"><a
                            href="{% url 'login' %}">Log in</a> or <a href="{% url 'register' %}">register</a> to post
                        comments.</p>
                {% endif %}


                <!-- Comments Heading -->
                <h3 class="text-center mt-5"><span style="margin-right: 0.3rem">{{ post.comments.count }}</span>Comments
                </h3>
                <div class="mb-3">
                    {% for comment in comments %}
                        <div class="card mb-2" style="background-color: #FBFADA">
                            <div class="card-body">
                                <p>{{ comment.created_at|date:"N j, Y, H:i" }}</p>
                                <h5 class="card-title">
                                    <a class="text-decoration-none" style="color: black"
                                       href="{% url 'user_public_profile' username=comment.author.username %}">
                                        {% if comment.author.profile.profile_pic %}
                                            <img class="rounded-circle"
                                                 src="{{ comment.author.profile.profile_pic.url }}"
                                                 alt="{{ comment.author.username }}">
                                        {% else %}
                                            <img class="rounded-circle"
                                                 src="{% static 'images/default_profile_picture.png' %}"
                                                 alt="Default profile picture">
                                        {% endif %}
                                        <strong>{{ comment.author.username }}</strong>
                                    </a>
                                </h5>
                                <div class="mb-3">
                                    <p class="card-text">{{ comment.content }}</p>
                                    {% if comment.image %}
                                        <img src="{{ comment.image.url }}" class="img-fluid"
                                             style="max-width:50%; cursor: pointer;" alt="Comment image">
                                    {% endif %}
                                </div>
                                <!-- Delete Comment Button -->
                                {% if user.is_authenticated and user == comment.author or user == post.author %}
                                    <form action="{% url 'comment-delete' comment.id %}" method="post"
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger btn-sm" title="Delete Comment">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
