{% extends "index.html" %}
{% load static %}

{% block content %}
    <article class="container mt-5">
        <header class="text-center mb-4">
            {% if user.profile.profile_pic %}
                <img src="{{ user.profile.profile_pic.url }}"
                     class="rounded-circle"
                     alt="Profile picture"
                     style="width: 200px; height: 200px">
            {% else %}
                <img src="{% static 'default_profile_picture.jpg' %}"
                     class="rounded-circle"
                     style="width: 200px; height: 200px;"
                     alt="Default profile picture">
            {% endif %}
            <h1>{{ user.username }}</h1>

            <!-- Button to Edit/Delete Profile -->
            <a href="{% url 'edit_profile' %}" class="btn btn-primary mb-3">
                <i class="fas fa-edit"></i> Edit Profile
            </a>
            <!-- Trigger Button for Delete Confirmation Modal -->
            <button type="button" class="btn btn-danger mb-3" data-bs-toggle="modal"
                    data-bs-target="#deleteProfileConfirmationModal">
                <i class="fas fa-trash"></i> Delete Profile
            </button>
            <!-- Delete Profile Confirmation Modal -->
            <div class="modal fade" id="deleteProfileConfirmationModal" tabindex="-1" role="dialog"
                 aria-labelledby="deleteProfileConfirmationModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="deleteProfileConfirmationModalLabel">Confirm Profile
                                Deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete your profile? This action cannot be undone.
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <!-- Inline form for delete confirmation, pointing to the profile deletion URL -->
                            <form action="{% url 'delete-profile' %}" method="post" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Delete Profile</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section>
            <div class="container">
                <h2 class="mb-3">Your Posts</h2>
                <div class="row">
                    {% for post in user_posts %}
                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="card mb-4" style="width: 100%;">
                                <div class="card-body" style="background-color: #ADBC9F">
                                    <h3 class="card-title">{{ post.title }}</h3>
                                    <p class="card-text">{{ post.content | truncatewords:20 }}</p>
                                    <a href="{% url 'post-detail' post.id %}" class="btn btn-success"
                                       title="Go to post">
                                        <i class="fas fa-external-link-alt"></i> Go to Post
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <div class="card-body rounded-2" style="background-color: #ADBC9F">
                            <p class="text-center fs-5 text-center">You have not created any posts yet.</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </article>
{% endblock %}
